<div class="container text-center">
    {{#each articles}}
    <div class="row">
        <div class="col-12">
            <p class="h4">{{title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href={{link}} target="_blank">{{link}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn-lg btn-success">Create Note</button>
        </div>
        <div class="col-6">
            <button class="btn-lg btn-info">View Note</button>
        </div>
    </div>
    
    {{/each}}
</div>