
<div class="container text-center">
    <a href="/scrape">
    <button id="scrape" class="btn-lg btn-primary">Scrape from Cryptonews.com!</button>
    </a>
    {{#each articles}}
    <div class="eachArticle">
    <div class="row titleRow">
        <div class="col-12">
            <p class="h4 title">{{title}}</p>
        </div>
    </div>
    <div class="row linkRow">
        <div class="col-12">
            <a class="links" href={{link}} target="_blank">Read Full Article</a>
        </div>
    </div>
    <div class="buttonRow row">
        <div class="col-6">
            <button class="buttons btn-lg btn-success createNote" _id={{_id}}>Create Note/Update Note</button>
        </div>
        <div class="col-6">
            <button class="buttons btn-lg btn-danger deleteNote" _id={{_id}}>Delete Note</button>
        </div>
    </div>
    </div>
    {{/each}}
</div>
<script src="/assets/js/index.js"></script>