<div class="scraped container text-center eachArticle">
    <p class="h1 title">Congratulations! You just scraped the most recent articles!</p>
    <a href="/"><button class="btn-lg btn-danger btn-block">Home</button></a>
</div>